body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../Images/fond-inscription.jpg");
}

#div-temoignage {
  border-radius: 10px;
  width: 70%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  font-size: 15px;
  border: solid 1px white;
}
